// Заголовки, общие БЄМ блоки и проче...
.btn {
	background: var(--main-color-text);
	border-radius: 65px;
	min-height: 54px;
	padding: 5px 35px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-black);
}
.title {
	font-weight: 500;
	@include adaptiveValue("font-size", 45, 25);
	line-height: 110%;
	color: var(--main-color-text);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 70, 40);
	}
	// .title__red
	&__red {
		color: var(--color-red);
	}
}
